<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  
  <!-- wicket start -->
  <filter>
        <filter-name>chapter1</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
          <param-name>applicationClassName</param-name>
          <param-value>com.wiket.controller.CApplication</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>chapter1</filter-name>
        <url-pattern>/flt/*</url-pattern>
    </filter-mapping>
  <!-- wicket start //-->
  
  <!-- servlet start -->
  <servlet>
		<servlet-name>HelloWorldServlet</servlet-name>
		<servlet-class>com.wiket.web.HelloWorldServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloWorldServlet</servlet-name>
		<url-pattern>/hw/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletTest</servlet-name>
		<servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>com.wiket.controller.CApplication</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletTest</servlet-name>
		<url-pattern>/hw1/*</url-pattern>
	</servlet-mapping>
  <!-- servlet start //-->
</web-app>